doctype html
html(lang="en")
  head
    title=title
    meta(name="description", content="Timestamp Microservice by Joshua Morris @FCC")
    link(id="favicon", rel="icon", href="https://cdn.hyperdev.com/us-east-1%3A0a4e8a58-6885-4472-841d-6d28e8d3f9cf%2Ffavicon.ico", type="image/x-icon")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="style.css", media="all", rel="stylesheet")
  
  body(class="markdown-body")!= md('README.md')